<div id="<%= dom_id starter_pack %>">
  <p>
    <strong>Name:</strong>
    <%= starter_pack.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= starter_pack.icon %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= starter_pack.title %>
  </p>

  <p>
    <strong>Image one:</strong>
    <%= starter_pack.image_one %>
  </p>

  <p>
    <strong>Image two:</strong>
    <%= starter_pack.image_two %>
  </p>

  <p>
    <strong>Image three:</strong>
    <%= starter_pack.image_three %>
  </p>

  <p>
    <strong>Image four:</strong>
    <%= starter_pack.image_four %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= starter_pack.description %>
  </p>

</div>
