<div class="containerPack">
  <div id="<%= dom_id starter_pack %>" class="pack">
    <div class="flexpack">
      <div class="packTitle">
        <h1>
          <%= starter_pack.name %>
        </h1>
          <ul class="link">
            <li>âœ <b>starterpack</b> request:(guest) <%= link_to "/return", starter_packs_path %></li>
            <li>âœ <b>starterpack</b> request:(admin) <%= link_to "/modify", edit_starter_pack_path(@starter_pack) %></li>
            <li><%= button_to "Destroy this starter pack", @starter_pack, method: :delete, class:'button-delete' %></li>
            </ul>
      </div>

      <div class="packImages">
          <div class="iconTitleBox">
            <%= image_tag starter_pack.icon %>
            <h2>
            <%= starter_pack.title %>
            </h2>
          </div>

          <div class="listImages">
              <a href="<%= starter_pack.image_one %>" target="_blank"><%= image_tag starter_pack.image_one %></a>

              <a href="<%= starter_pack.image_two %>" target="_blank"><%= image_tag starter_pack.image_two %></a>

              <a href="<%= starter_pack.image_three %>" target="_blank"><%= image_tag starter_pack.image_three %></a>

              <a href="<%= starter_pack.image_four %>" target="_blank"><%= image_tag starter_pack.image_four %></a>
          </div>
      </div>
    </div>

    <div class="packDescription">
      <p>
        <%= starter_pack.description %>
      </p>
    </div>

  </div>
</div>
